'use strict';
const settings = {
	updateAlmOctane: false,
	defectsRetrievalLimit: 5000,
	storiesRetrievalLimit: 5000,
	qualityStoriesRetrievalLimit: 5000,
	historyLogs: {
		manualTimeRange: false,
		manualTimeRangeFrom: '2018-01-01T00:00:00Z',
		manualTimeRangeTo: '2030-01-01T00:00:00Z',
	},
	updateAlmOctaneMaxBatch: 100,
	generalAnomalyTag: 'Anomaly',
	specificAnomalyTagPrefix: 'Anomaly: ',
	ignoreAnomalyTag: 'Ignore Anomaly',
	checkers: [
		{
			name: 'story-stuck-dev-phase',
			enabled: true,
			tag: 'Anomaly: Stuck in DEV Phase',
			entity: 'story',
			options: {
				phasesToIgnore: [
					'Cancelled',
					'Done',
					'In Testing',
					'Ready for QA',
				],
				phasesMaxDays: {
					'Fixing Defects': 30,
					'In Progress': 30,
					'New': 600,
					'Ready for R&D': 60,
					'_DEFAULT': 30, //every other non-specified phase
				}
			}
		},
		{
			name: 'story-stuck-qa-phase',
			enabled: true,
			tag: 'Anomaly: Stuck in QA Phase',
			entity: 'story',
			options: {
				phasesToIgnore: [
					'Cancelled',
					'Done',
					'Fixing Defects',
					'In Progress',
					'New',
					'Ready for R&D',
				],
				phasesMaxDays: {
					'In Testing': 30,
					'Ready for QA': 30,
					'_DEFAULT': 30 //every other non-specified phase
				}
			}
		},
		{
			name: 'quality-story-stuck-qa-phase',
			enabled: true,
			tag: 'Anomaly: Stuck in QA Phase',
			entity: 'quality_story',
			options: {
				phasesToIgnore: [
					'Done',
				],
				phasesMaxDays: {
					'In Progress': 30,
					'New': 300,
					'Postponed': 99,
					'_DEFAULT': 30 //every other non-specified phase
				}
			}
		},
		{
			name: 'defect-inactive-dev-owner',
			enabled: true,
			tag: 'Anomaly: Inactive DEV Owner',
			entity: 'defect',
			options: {
				phasesToIgnore: [
					'Closed',
					'Converted to Feature',
					'Deferred',
					'Duplicate',
					'Fixed',
					'Planned',
					'Proposed Rejected',
					'Rejected',
				]
			}
		},
		{
			name: 'defect-inactive-qa-owner',
			enabled: true,
			tag: 'Anomaly: Inactive QA Owner',
			entity: 'defect',
			options: {
				phasesToIgnore: [
					'Closed',
					'Converted to Feature',
					'Deferred',
					'Duplicate',
					'New',
					'Opened',
					'Pending Support',
					'Planned',
					'Rejected',
				]
			}
		},
		{
			name: 'defect-many-comments',
			enabled: true,
			tag: 'Anomaly: Many Comments',
			entity: 'defect',
			options: {
				phasesToIgnore: [
					'Closed',
					'Converted to Feature',
					'Deferred',
					'Duplicate',
					'Fixed',
					'Planned',
					'Rejected',
				],
				defectTypesToIgnore: [
					'list_node_defect_type_cpe_incident_ln'
				],
				manyCommentsCount: 7
			}
		},
		{
			name: 'defect-many-owners',
			enabled: true,
			tag: 'Anomaly: Many Owners',
			entity: 'defect',
			options: {
				phasesToIgnore: [
					'Closed',
					'Converted to Feature',
					'Deferred',
					'Duplicate',
					'Fixed',
					'Planned',
					'Proposed Rejected',
					'Rejected',
				],
				manyOwnersCount: 5
			}
		},
		{
			name: 'defect-stuck-dev-phase',
			enabled: true,
			tag: 'Anomaly: Stuck in DEV Phase',
			entity: 'defect',
			options: {
				phasesToIgnore: [
					'Closed',
					'Converted to Feature',
					'Deferred',
					'Duplicate',
					'Fixed',
					'Planned',
					'Proposed Rejected',
					'Rejected',
				],
				phasesMaxDays: {
					'Critical': {
						'New': 1,
						'Opened': 1,
						'Pending Support': 1,
						'_DEFAULT': 3 //every other non-specified phase
					},
					'High': {
						'New': 30,
						'Opened': 7,
						'Pending Support': 7,
						'_DEFAULT': 30 //every other non-specified phase
					},
					'Medium': {
						'New': 99,
						'Opened': 99,
						'Pending Support': 99,
						'_DEFAULT': 99 //every other non-specified phase
					},
					'Low': {
						'New': 99,
						'Opened': 99,
						'Pending Support': 99,
						'_DEFAULT': 99 //every other non-specified phase
					},
					'_DEFAULT': { //every other non-specified severity
						'_DEFAULT': 30 //every other non-specified phase
					}
				}
			}
		},
		{
			name: 'defect-stuck-qa-phase',
			enabled: true,
			tag: 'Anomaly: Stuck in QA Phase',
			entity: 'defect',
			options: {
				phasesToIgnore: [
					'Closed',
					'Converted to Feature',
					'Deferred',
					'Duplicate',
					'New',
					'Opened',
					'Pending Support',
					'Planned',
					'Rejected',
				],
				phasesMaxDays: {
					'Critical': {
						'Fixed': 3,
						'Proposed Rejected': 3,
						'_DEFAULT': 3 //every other non-specified phase
					},
					'High': {
						'Fixed': 7,
						'Proposed Rejected': 7,
						'_DEFAULT': 30 //every other non-specified phase
					},
					'Medium': {
						'Fixed': 7,
						'Proposed Rejected': 7,
						'_DEFAULT': 99 //every other non-specified phase
					},
					'Low': {
						'Fixed': 7,
						'Proposed Rejected': 7,
						'_DEFAULT': 99 //every other non-specified phase
					},
					'_DEFAULT': { //every other non-specified severity
						'_DEFAULT': 30 //every other non-specified phase
					}
				}
			}
		},
		{
			name: 'defect-unusual-dev-owner',
			enabled: true,
			tag: 'Anomaly: Unusual DEV Owner',
			entity: 'defect',
			options: {
				phasesToIgnore: [
					'Closed',
					'Converted to Feature',
					'Deferred',
					'Duplicate',
					'Fixed',
					'Pending Support',
					'Planned',
					'Proposed Rejected',
					'Rejected',
				],
				dataSetSizes: [1000, 2000, 3000, 4000, 5000]
			}
		},
		{
			name: 'defect-unusual-qa-owner',
			enabled: true,
			tag: 'Anomaly: Unusual QA Owner',
			entity: 'defect',
			options: {
				phasesToIgnore: [
					'Closed',
					'Converted to Feature',
					'Deferred',
					'Duplicate',
					'New',
					'Opened',
					'Pending Support',
					'Planned',
					'Rejected',
				],
				dataSetSizes: [1000, 2000, 3000, 4000, 5000]
			}
		},
		{
			name: 'defect-my-rule',
			enabled: false,
			tag: 'Anomaly: My Rule',
			entity: 'defect',
			options: {
				phasesToIgnore: [
				]
			}
		},
	]
};

module.exports = settings;
